:root{
    --main: #181818;
    --main-light: #1d1d1d;
    --text: #909096;
    --text-hv: #08fdd8;
    --white: #ffffff;
    --black: #000000;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin : 0;
  padding : 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
}

// keyframes


@-webkit-keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }

@keyframes arrow {
    0% {
      transform: translate(0, 0);
    }
    50% {
        transform: translate(-20px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }

a{
    color: var(--text);
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    text-decoration: none;
}

.root{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--main-light);
    top: 0;
    left: 0;
    min-height: 100vh;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
    position: absolute;
    top: 0;
    left: 13rem;
    width: calc(100% - 13rem);
    height: 100%;
    padding: 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 13rem;
    height: 100vh;
    background: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: var(--text);
    padding: 2rem 0;
    padding-top: 0;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: var(--black);
    width: 100%;
    padding: 2rem 0;
}

.logo__img{
    width: 80px;
    object-fit: contain;
}

.logo__title{
    color: #fff;
    margin-top: 1px;
    font-size: 2.7rem;
}

.logo__subtitle{
    color: #a5a5a5;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.nav{
    flex: 0.8;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.nav__list{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;
    padding: 0;
    margin: 0;
}
.nav__item{
    width: 100%;
    text-align: center;
}
.nav__link{
    width: 100%;
    display: block;
    font-size: 1.6rem;
    color: var(--text);
    line-height: 5rem;
    border-bottom: 1px solid #282828;
    -webkit-transition: color 0.3s, background-color 0.3s;
    -o-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
}
.nav__link:hover{
    color: var(--text-hv);
    background-color: var(--main);
}
.nav__link:active{
    color: var(--text-hv);
    background-color: var(--main);
}
.social__list{
    flex: 0.2;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.social__item{
    text-align: center;
}

.social__link{
    width: 100%;
    display: block;
    font-size: 1.6rem;
    color: var(--text);
    line-height: 5rem;
    -webkit-transition: color 0.3s, background-color 0.3s;
    -o-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
    padding: 2rem 7px;
}
.social__link:hover{
    color: var(--text-hv);
    background-color: var(--main);
}

.content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
}
.home{
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    min-height: 100vh;
    color: var(--white);
    z-index: -1;
    max-height: 100vh;
}
.home__content{
    position: absolute;
    top: 50%;
    left: 18rem;
    transform: translateY(-50%);
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    z-index: 0;
}
.home__title{
    color: var(--white);
    margin: 0;
    font-weight: 400;
    font-size: 10.3rem;
    line-height: 8.7rem;
    
}
.home__subtitle{
    font-size: 1.6rem;
    letter-spacing: 4px;
    margin-top: 3rem;
    display: block;
    color: #8d8d8d;
    margin: 30px 0;
}
.btn{
    color: var(--text-hv);
    position: relative;
    width: 150px;
    height: 50px;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;
}
.btn button{
    color: var(--text-hv);
    width: 101%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bold;
    background: var(--main-light);
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
}
.btn button:hover{
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
}

.mas {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: var(--black);
    text-align: center;
    width: 101%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 11px;
    overflow: hidden;
    background: var(--text-hv);
    font-weight: bold;
  }
  
  

.scroller__left{
    position: absolute;
    left: 110px;
    bottom: 150px;
}
.scroller__right{
    position: absolute;
    right: 0px;
    bottom: 150px;
}

.scroller__content{
    transform: rotate(90deg);
}

.scroller__item{
    margin-left: 20px;
}

.scroller__anim{
    display: inline-block;
    -webkit-animation:   arrow 1s infinite;
    -moz-animation:     arrow 1s infinite;
    -o-animation:       arrow 1s infinite;
    animation:          arrow 1s infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}


.portfolio{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: var(--main-light);
    padding-left: 20rem;
}

.portfolio__title{
    color: #08fdd8;
    font-weight: 600;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
    font-size: 7rem;
    line-height: 6.7rem;
    margin-bottom: 40px;
}

.portfolio__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.portfolio__text{
    width: 70%;
    color: var(--text);
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 40px;
}

.portfolio__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}
